@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 25px;
}

form {
  width: 100%;
}
@media screen and (min-width: 768px) {
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

footer {
  font-size: 14px;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  background-color: #dbdb97;
}

header {
  width: 100%;
  height: 400px;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header nav, header .banner-text {
  position: relative;
}
header::before {
  background-color: rgba(0, 0, 0, 0.7);
  content: "";
  display: block;
  height: 400px;
  position: absolute;
  width: 100%;
}

input {
  border: none;
  padding: 0.575rem 0.75rem;
  width: 100%;
}

nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  nav {
    height: 70px;
  }
}

section {
  padding: 2rem;
}

#check {
  display: none;
}

#check:checked ~ .navbar-menu {
  height: 100vh;
}
#check:checked ~ .navbar-menu li a {
  display: block;
}

.banner-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 2rem 1rem;
}
.banner-text .button_content {
  margin-top: 15px;
}
.banner-text span {
  font-size: 14px;
  margin: 1rem 0;
}

.booking_room {
  padding: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
@media screen and (min-width: 768px) {
  .booking_room {
    margin: 0 auto;
    padding: 1rem;
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .booking_section {
    padding: 0px;
    margin: -3rem;
    margin-bottom: 1.5rem;
    position: relative;
  }
}

.btn-menu {
  font-size: 2rem;
  color: white;
  margin-right: 20px;
  cursor: pointer;
  z-index: 20;
}
@media screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}

.bold_font {
  font-weight: 700;
}

.button {
  padding: 17px 30px;
  color: #000000;
  background-color: #dbdb97;
  border-radius: 3px;
  border: 1px solid #d5d5a1;
}

.container {
  width: 100%;
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.content_wrap {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
@media screen and (min-width: 768px) {
  .content_wrap {
    flex-direction: row;
  }
}

.content_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .content_input {
    margin-bottom: 0rem;
  }
}

.content_prices {
  justify-content: space-between;
}
.content_prices span {
  font-size: 17px;
}

.contact_networks li {
  margin: 2rem 0;
}

.content_map {
  width: 100%;
}

.d_block {
  display: block;
}

.d_flex {
  display: flex;
}

.discount_price {
  text-decoration: line-through;
}

.logo_img {
  margin-left: 2rem;
}

.navbar-menu {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 0px;
  background-color: #dbdb97;
  text-align: center;
  transition: all 0.5s;
  z-index: 10;
}
.navbar-menu li {
  margin: 20px 0;
}
.navbar-menu li a {
  color: #ffffff;
  display: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.5s;
}
.navbar-menu li a:hover, .navbar-menu li a:active {
  color: #dbdb97;
}
@media screen and (min-width: 768px) {
  .navbar-menu li a {
    display: block;
    font-size: 0.7rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .navbar-menu li {
    margin: 1rem 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .navbar-menu {
    display: flex;
    position: relative;
    height: auto;
    flex-direction: row;
    justify-content: end;
    background-color: transparent;
  }
}

.text-center {
  text-align: center;
}

.room_item {
  text-align: center;
}
.room_item img {
  border-radius: 5px;
  width: 100%;
}
.room_item h4, .room_item span {
  text-align: left;
  display: block;
}

.room_type_section h2 {
  margin-bottom: 2rem;
}

.room_item {
  margin: 1.5rem;
}

.why_section {
  text-align: center;
}
.why_section h2 {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .why_section {
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
  }
}

.items_list {
  display: flex;
  flex-direction: column;
}
.items_list .item {
  margin: 1.5rem 0;
}
@media screen and (min-width: 768px) {
  .items_list {
    flex-direction: row;
    justify-content: space-between;
  }
}

.wrapper_contact_location {
  padding: 2rem;
  background-color: #dbdb97;
}/*# sourceMappingURL=app.css.map */